In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

In [5]:
con=mysql.connector.connect(host='localhost',user='root',password='123456')

In [6]:
cur=con.cursor()

In [7]:
cur.execute('show databases')

In [8]:
cur.fetchall()

[('amazon',),
 ('apple',),
 ('employee',),
 ('flipkart',),
 ('information_schema',),
 ('mysql',),
 ('office',),
 ('performance_schema',)]

In [9]:
cur.fetchall()

[]

In [10]:
cur.execute('show databases')

In [11]:
print('Databases are:- ')
for i in cur:
    print(i)

Databases are:-
('amazon',)
('apple',)
('employee',)
('flipkart',)
('information_schema',)
('mysql',)
('office',)
('performance_schema',)

In [12]:
con.close()

In [13]:
cur.execute('show databases')

ProgrammingError: 2055: Cursor is not connected

In [17]:
con=mysql.connector.connect(host='localhost',user='root',password='123456',db='amazon')

In [18]:
cur=con.cursor()

In [19]:
cur.execute('show tables')

In [20]:
cur.fetchall()

[('amazon',)]

In [22]:
cur.execute('select * from amazon')

In [23]:
cur.fetchall()

[(1001, 'Sahil', 'New Delhi', 'Data intern', 50000, 'M', '9919222658'),
 (1002, 'Aryan', 'Lucknow', 'Doctor', 250000, 'M', '9867873456'),
 (1003, 'Arman', 'New Delhi', 'Google cloud', 500000, 'M', '9987345690'),
 (1004, 'Suraj', 'Lucknow', 'Sales', 25000, 'M', '7058352989'),
 (1005, 'Sarika', 'Banglore', 'Assistant maneger', 250000, 'F', '7051332989'),
 (1006, 'Arvind', 'Patna', 'HR Maneger', 50000, 'M', '8726395570'),
 (1007, 'Anand kumar', 'New Delhi', 'Trainer', 600000, 'M', '895278890'),
 (1008, 'Sharika', 'Kolkata', 'Egineer', 600000, 'F', '7085431278'),
 (1009, 'Garima', 'Gujrat', 'Programmer', 20000, 'F', '9262878790'),
 (1010, 'Gudiya', 'Gungaon', 'Sale Maneger', 40000, 'F', '9806234580'),
 (1011, 'Kaiser', 'Mehrauli', 'Data Analyst', 50000, 'M', '9318464543'),
 (1012, 'Saima', 'Delhi', 'Project Maneger', 150000, 'M', '9876567898'),
 (14735, 'Simran sorout', 'Agra', 'Data intern', 32000, 'F', '9728080111'),
 (15187, 'Shadia khan', 'Delhi', 'Data Analyst', 30000, 'F', '7290911233'),
 (15197,
  'Lalita joshi',
  'New Delhi',
  'Data Analyst',
  25000,
  'F',
  '8527215219'),
 (15223, 'Mohd shahil', 'Up', 'Data Analyst', 50000, 'M', '9919222658'),
 (15665,
  'Nimra Ashai',
  'Shahdara Delhi',
  'Bussiness Analyst',
  40000,
  'F',
  '7780842226')]

In [24]:
cur.execute("insert into amazon values(1064,'Agel','Up','Intern',60000,'F',9838902366)")

In [25]:
con.commit()

In [26]:
con.close()

In [27]:
con=mysql.connector.connect(host='localhost',user='root',password='123456')

In [28]:
cur=con.cursor()

In [29]:
cur.execute('Create Database Bank')

In [30]:
cur.execute('use bank')

In [32]:
cur.execute('Create table Staff(id_num int,name varchar(10),salary int,contact int(64))')

In [33]:
cur.execute("Insert into staff values(1,'Sonu',24000,98765),(2,'Amit',50000,23743),(3,'Sumit',123456,11111)")

In [34]:
con.commit()

In [35]:
cur.execute('Select * from staff')
cur.fetchall()

[(1, 'Sonu', 24000, 98765),
 (2, 'Amit', 50000, 23743),
 (3, 'Sumit', 123456, 11111)]

In [36]:
con.close()